<html>
<body >
<table class = "table table-striped">
<tr>
<th>Nmae</th>
<th>Age</th>
<th>Gender</th>
<th>Email</th>

</tr>
<% @players.each do |player| %>
    <tr>
    <td><%= player.name %></td>
    <td><%= player.age %></td>
    <td><%= player.gender %></td>
    <td><%= player.email %></td>
   
    </tr>
    <% end %>
</table>
</body>
</html>
